.hasab {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: 0px auto;
    background-color: #d2691e;
}

h1 {
    border-bottom: 2px solid #a52a2a;
}


li {
    display: inline-block;
    min-width: 50px;
    border-left: 2px solid #a52a2a;
    padding: 6px;
    color: white;
    list-style-type: none;
    /*Extra - nincs a feladatsorban*/
    text-align: center;
}

li:first-child {
    border-width: 0px;
}

h2 {
    width: 96%;
    background-color: #cd853f;
    font-style: italic;
    /*Extra - nincs a feladatsorban*/
    padding: 10px;
}

p {
    text-align: justify;
}

img {
    width: 100px;
    border: 2px solid #a52a2a;
    float: left;
    /*Extra - nincs a feladatsorban*/
    margin: 10px;
}

/*Extra - nincs a feladatsorban*/
footer {
    border-top: 2px solid #a52a2a;
}

ul {
    padding: 0px;
    margin: 0px;
}